@font-face {
  font-family: FoundersBold;
  src: url(../Font/FoundersGroteskXCond-Lt.otf);
}
.landingPage {
  /* border: 1px solid #fff; */
  /* height: 80vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vw;
  margin-bottom: 5vw;
  z-index: 0;
}
.hr {
  background-color: #a7a7a7;
  width: 100vw;
  height: 0.5px;
}
.container {
  padding: 0 3.45vw;
  margin-top: 8.5vw;
  margin-bottom: 7.5vw;
  display: flex;
  position: relative;
  width: 100%;
}
.content {
  width: 50%;
  /* border: 1px solid red; */
}
.container h1 {
  color: #fff;
  font-size: 7.5vw;
  font-family: FoundersBold;
  letter-spacing: 5px;
  line-height: 7vw;
}
.midContent {
  display: flex;
  gap: 20px;
}
.midContent .photo {
  width: 7.5vw;
  height: 5vw;
  margin-top: -8px;
  overflow: hidden;
  border-radius: 1rem;
}
.midContent .photo img {
  object-fit: cover;
  object-position: center;
  /* width: 112%; */
  height: 100%;
}
.mark {
  width: 3.5vw;
  height: 20vw;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.mark h6 {
  font-size: 2vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
.mark h5 {
  white-space: nowrap;
  font-weight: lighter;
  transform: rotate(-90deg);
  position: relative;
  top: 60%;
  font-size: 1vw;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1vw 3.45vw;
}
.info p {
  font-size: 1.1vw;
}
.info a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.info a p {
  padding: 0.3vw 0.7vw;
  border: 1.5px solid #fff;
  border-radius: 2rem;
  transition: background-color 0.5s, color 0.5s;
}
.info a span {
  border: 1.5px solid #fff;
  border-radius: 50%;
  padding: 0.3vw;
  font-size: 1.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.5s, color 0.5s;
}
.info a:hover p {
  color: #000;
  background-color: #fff;
}
.info a:hover span {
  color: #000;
}

.info a span::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  transition: width 0.5s, height 0.5s;
}
.info a:hover span::after {
  width: 100%;
  height: 100%;
}

/* responsive start */
@media (min-width: 1280px) {
  .landingPage {
    height: 88vh;
  }
}
@media (min-width: 1281px) and (max-width: 1450px) {
  .content {
    width: 650px;
    /* border: 1px solid red; */
  }
  .container h1 {
    font-size: 108px;
    line-height: 88px;
  }
  .midContent .photo {
    width: 100px;
    height: 65px;
    border-radius: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .landingPage {
    height: 65vh;
  }
  .midContent .photo {
    width: 75px;
    height: 50px;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .content {
    width: 500px;
    /* border: 1px solid red; */
  }
  .container h1 {
    font-size: 78px;
    line-height: 65px;
  }
  .info p {
    font-size: 1.4vw;
  }
  .info a span {
    font-size: 1.4vw;
  }
  .mark h6 {
    font-size: 2.5vw;
  }
  .mark h5 {
    font-size: 1.5vw;
  }
  .mark {
    width: 4.5vw;
    height: 28vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 450px;
    /* border: 1px solid red; */
  }
  .container h1 {
    font-size: 65px;
    line-height: 55px;
  }
  /* .midContent .photo {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-top: -6px;
  } */
  .info p {
    font-size: 2vw;
  }
  .info a span {
    font-size: 2vw;
  }
  .mark h6 {
    font-size: 3.5vw;
  }
  .mark h5 {
    font-size: 1.8vw;
  }
  .mark {
    width: 6vw;
    height: 30vw;
  }
}
@media (max-width: 768px) {
  .landingPage {
    height: 90vh;
  }
  .content {
    width: 330px;
    /* border: 1px solid red; */
  }
  .container h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .midContent .photo {
    width: 60px;
    height: 40px;
    border-radius: 5px;
    margin-top: -6px;
  }
  .info {
    flex-direction: column;
    gap: 4vw;
  }
  .info p {
    font-size: 1.5rem;
  }
  .info a p {
    padding: 1vw 2vw;
  }
  .info a span {
    font-size: 1.5rem;
    padding: 1vw;
  }
  .mark h6 {
    font-size: 1.2rem;
  }
  .mark h5 {
    font-size: 0.8rem;
  }
  .mark {
    width: 2.5rem;
    height: 15rem;
  }
}
